<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base"
	th:with="empilhamentoActive='active'">

	<head>
		<title>Editar Empilhamento | Alocação Professores</title>
	</head>
	
	<section layout:fragment="conteudo">
	<div class="row bg-title">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title" th:text="${restricaoHorario.tipo}"></h4>
		</div>
		
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">
			<form th:if="${restricaoHorario.tipo == 'DISTINTO'}">
				<h1>Distinto</h1>
			</form>
			<form th:if="${restricaoHorario.tipo == 'EMPILHAMENTO'}">
				<h1>EMPILHAMENTO</h1>
			</form>
				<form class="form-horizontal"
					th:action="@{/empilhamentos/{id}/editar(id=${restricaoHorario.id})}"
					method="POST" th:object="${restricaoHorario}">
					<div class="form-group" th:classappend="${#fields.hasErrors('primeiraOferta.id')}? has-error">
						<label for="disciplinaASelect" class="control-label m-l-10">Primeira Oferta</label>
						<div class="col-md-12">
							<select th:field="*{primeiraOferta.id}"
								id="disciplinaASelect" class="form-control"
								name="primeiraDisciplina">
								<option value="">Selecione uma opção</option>
								<option th:each="oferta : ${ofertas}"
									th:value="${oferta.id}" th:inline="text">[[${oferta.turma.curso.sigla}]]-[[${oferta.turma.semestres.numero}]]
										[[${oferta.disciplina.nome}]]</option>
							</select> 
							<span th:if="${#fields.hasErrors('primeiraOferta.id')}"
								th:errors="*{primeiraOferta.id}"
								class="help-block with-errors"></span>
						</div>
					</div>
					<div class="form-group" th:classappend="${#fields.hasErrors('segundaOferta.id')}? has-error">
						<label for="disciplinaBSelect" class="control-label m-l-10">Segunda Oferta</label>
						<div class="col-md-12">
							<select
								th:field="*{segundaOferta.id}" id="disciplinaBSelect"
								name="segundaDisciplina" class="form-control select2">
								<option value="">Selecione uma opção</option>
								<option th:each="oferta : ${ofertas}"
									th:value="${oferta.id}" th:inline="text">[[${oferta.turma.curso.sigla}]]-[[${oferta.turma.semestres.numero}]]
										[[${oferta.disciplina.nome}]]</option>
							</select>
							<span th:if="${#fields.hasErrors('segundaOferta.id')}"
								th:errors="*{segundaOferta.id}"
								class="help-block with-errors"></span>
						</div>
					</div>
					<div class="text-right">
						<a th:href="@{/empilhamentos}" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
						<button type="submit" class="btn btn-success waves-effect waves-light">Editar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
	<section layout:fragment="js">
		<script type="text/javascript">		
			$("#disciplinaASelect").select2();
			$("#disciplinaBSelect").select2();
			$("#turmaASelect").select2();
			$("#turmaBSelect").select2();
		</script>
	</section>
</html>