<div class="row" th:fragment="ofertas">
<!-- 	<div class="col-xs-12">
		<h5 th:inline="text">[[${oferta.turma.semestre}]]° Semestre</h5>
	</div>
	<div th:if="${oferta.turma.semestre == 1}"
		class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<label><b th:inline="text">[[${oferta.disciplina.codigo}]]
						- [[${oferta.disciplina.nome}]]</b></label>
				<div class="panel-action">
					<div class="dropdown">
						<a class="dropdown-toggle" id="examplePanelDropdown"
							data-toggle="dropdown" href="#" aria-expanded="false"
							role="button"><i class="fa fa-ellipsis-v"></i></a>
						<ul class="dropdown-menu bullet dropdown-menu-right"
							aria-labelledby="examplePanelDropdown" role="menu">
							<li role="presentation"><a href="javascript:void(0)"
								role="menuitem"><i class="fa fa-edit"></i> Editar</a></li>
							<li role="presentation"><a href="javascript:void(0)"
								role="menuitem"><i class="fa fa-times"></i> Excluir</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel-wrapper collapse in">
				<div class="panel-body">
					<p th:inline="text">Vagas: [[${oferta.vagas}]]</p>
					<p th:inline="text">Turno: [[${oferta.turno}]]</p>
					<p th:each="professor : ${oferta.professores}">
						<label th:text="${professor.pessoa.nome}"></label>
					</p>
				</div>
			</div>
		</div>
	</div> -->
	<h1>Deu Certo</h1>
</div>
