<!DOCTYPE html>
<html lang="ptBR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base" th:with="periodoActive='active'">

<head>

<title>Cadastrar Período | Alocação Professores</title>

</head>

<section layout:fragment="nome_entidade">
	<h4 class="page-title">Período</h4>
</section>

<section layout:fragment="conteudo">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Cadastrar Período</h3>
					<div th:object="${periodoAtivo}" th:if="${periodoAtivo != null}">
						<h6 class="card-subtitle" th:text="'Ao cadastrar um novo período, ele será automaticamente o período ativo. Atualmente o período ativo é ' + *{ano} + '.' + *{semestre.numero}"></h6>
					</div>
																			
					<form id="cadastrarPeriodoForm" method="POST" class="form-horizontal" th:action="@{/periodos/cadastrar}" th:object="${periodo}">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group" th:classappend="${#fields.hasErrors('ano')}? has-error">
									<label class="control-label">* Ano</label>
									<input type="text" class="form-control" th:field="*{ano}" th:value="${periodo.ano}" pattern="[0-9]{4}" maxlength="4"
										   placeholder="Ex: 2018" required="required" />
									<span th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}"
										  class="help-block with-errors"></span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group" th:classappend="${#fields.hasErrors('semestre')}? has-error">
									<label class="control-label">* Semestre</label>
									<select id="semestre" class="form-control" th:value="${periodo.semestre}"
											th:field="*{semestre}" required="required">
										<option th:each="semestre : ${semestres}" th:text="${semestre.descricao}" th:value="${semestre}"></option>
									</select>
									<span th:if="${#fields.hasErrors('semestre')}" th:errors="*{semestre}" class="help-block with-errors"></span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group" th:classappend="${#fields.hasErrors('inicioPeriodoCoordenacao')}? has-error">
									<label class="control-label">* Início Período da Coordenação</label>
									<input id="inicioPeriodoCoordenacao" th:field="*{inicioPeriodoCoordenacao}" type="text" class="form-control datepicker-autoclose"
										   placeholder="dd/mm/aaaa" required="required" />
									<span th:if="${#fields.hasErrors('inicioPeriodoCoordenacao')}"
										  th:errors="*{inicioPeriodoCoordenacao}" class="help-block with-errors"></span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group" th:classappend="${#fields.hasErrors('fimPeriodoCoordenacao')}? has-error">
									<label class="control-label">* Fim Período da Coordenação</label>
									<input id="fimPeriodoCoordenacao" th:field="*{fimPeriodoCoordenacao}" type="text"
										   class="form-control datepicker-autoclose" placeholder="dd/mm/aaaa" required="required" />
									<span th:if="${#fields.hasErrors('fimPeriodoCoordenacao')}"
										  th:errors="*{fimPeriodoCoordenacao}" class="help-block with-errors"></span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<div class="form-group" th:classappend="${#fields.hasErrors('inicioPeriodoDirecao')}? has-error">
									<label class="control-label">* Início Período da Direção</label>
									<input id="inicioPeriodoDirecao" th:field="*{inicioPeriodoDirecao}" type="text"
										   class="form-control datepicker-autoclose" placeholder="dd/mm/aaaa" required="required" />
									<span th:if="${#fields.hasErrors('inicioPeriodoDirecao')}"
										  th:errors="*{inicioPeriodoDirecao}" class="help-block with-errors"></span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group" th:classappend="${#fields.hasErrors('fimPeriodoDirecao')}? has-error">
									<label class="control-label">* Fim Período da Direção</label>
									<input id="fimPeriodoDirecao" th:field="*{fimPeriodoDirecao}" type="text"
										   class="form-control datepicker-autoclose" placeholder="dd/mm/aaaa" required="required" />
									<span th:if="${#fields.hasErrors('fimPeriodoDirecao')}"
										  th:errors="*{fimPeriodoDirecao}" class="help-block with-errors"></span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group" th:classappend="${#fields.hasErrors('inicioPeriodoAjuste')}? has-error">
									<label class="control-label">* Início Período de Ajuste</label>
									<input id="inicioPeriodoAjuste" th:field="*{inicioPeriodoAjuste}" type="text"
										   class="form-control datepicker-autoclose"  placeholder="dd/mm/aaaa" required="required" />
									<span th:if="${#fields.hasErrors('inicioPeriodoAjuste')}"
										  th:errors="*{inicioPeriodoAjuste}" class="help-block with-errors"></span>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group" th:classappend="${#fields.hasErrors('fimPeriodoAjuste')}? has-error">
									<label class="control-label">* Fim Período de Ajuste</label>
									<input id="fimPeriodoAjuste" th:field="*{fimPeriodoAjuste}" type="text"
										   class="form-control datepicker-autoclose" placeholder="dd/mm/aaaa" required="required" />
									<span th:if="${#fields.hasErrors('fimPeriodoAjuste')}"
										  th:errors="*{fimPeriodoAjuste}" class="help-block with-errors"></span>
								</div>
							</div>
						</div>
						<div class="text-right">
							<a th:href="@{/periodos}">
								<button type="button" th:href="@{/periodos}" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
							</a>
							<button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Cadastrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<section layout:fragment="js">

	<script th:inline="javascript">
		// Date Picker
		jQuery('.datepicker-autoclose').datepicker({
			language : 'pt',
			orientation: 'auto bottom',
			todayHighlight : true,
			format : 'dd/mm/yyyy',
			todayBtn : true,
			clearBtn : true
		});

        // Validação do formulário
        $("#cadastrarPeriodoForm").bootstrapValidator({
            row : {
                valid : 'has-success',
                invalid : 'error'
            },
            fields: {
                fimPeriodoCoordenacao : {
                    validators : {
                        callback : {
                            message : 'Essa data deve ser igual ou posterior ao início do período da coordenação',
                            callback : function(value, validator) {
                                moment.locale('pt-BR');
                                return moment($('#inicioPeriodoCoordenacao').val(), 'DD/MM/YYYY')
                                    .isSameOrBefore(moment($('#fimPeriodoCoordenacao').val(), 'DD/MM/YYYY'));
                            }
                        }
                    }
                },
                inicioPeriodoDirecao : {
                    validators : {
                        callback : {
                            message : 'Essa data deve ser posterior ao fim do período da coordenação',
                            callback : function(value, validator) {
                                moment.locale('pt-BR');
                                return moment($('#inicioPeriodoDirecao').val(), 'DD/MM/YYYY')
                                    .isAfter(moment($('#fimPeriodoCoordenacao').val(), 'DD/MM/YYYY'));
                            }
                        }
                    }
                },
                fimPeriodoDirecao : {
                    validators : {
                        callback : {
                            message : 'Essa data deve ser igual ou posterior ao início do período da direção',
                            callback : function(value, validator) {
                                moment.locale('pt-BR');
                                return moment($('#inicioPeriodoDirecao').val(), 'DD/MM/YYYY')
                                    .isSameOrBefore(moment($('#fimPeriodoDirecao').val(), 'DD/MM/YYYY'));
                            }
                        }
                    }
                },
                inicioPeriodoAjuste : {
                    validators : {
                        callback : {
                            message : 'Essa data deve ser igual ou posterior ao fim do período da direção',
                            callback : function(value, validator) {
                                moment.locale('pt-BR');
                                return moment($('#fimPeriodoDirecao').val(), 'DD/MM/YYYY')
                                    .isSameOrBefore(moment($('#inicioPeriodoAjuste').val(), 'DD/MM/YYYY'));
                            }
                        }
                    }
                },
                fimPeriodoAjuste : {
                    validators : {
                        callback : {
                            message : 'Essa data deve ser igual ou posterior ao início do período de ajuste',
                            callback : function(value, validator) {
                                moment.locale('pt-BR');
                                return moment($('#inicioPeriodoAjuste').val(), 'DD/MM/YYYY')
                                    .isSameOrBefore(moment($('#fimPeriodoAjuste').val(), 'DD/MM/YYYY'));
                            }
                        }
                    }
                }
            }
        })
            .on('change',
                '#inicioPeriodoCoordenacao,#fimPeriodoCoordenacao,#inicioPeriodoDirecao,#fimPeriodoDirecao,#inicioPeriodoAjuste,#fimPeriodoAjuste',
                function(e) {
                    $('#cadastrarPeriodoForm').bootstrapValidator('revalidateField', 'inicioPeriodoCoordenacao');
                    $('#cadastrarPeriodoForm').bootstrapValidator('revalidateField', 'fimPeriodoCoordenacao');
                    $('#cadastrarPeriodoForm').bootstrapValidator('revalidateField', 'inicioPeriodoDirecao');
                    $('#cadastrarPeriodoForm').bootstrapValidator('revalidateField', 'fimPeriodoDirecao');
                    $('#cadastrarPeriodoForm').bootstrapValidator('revalidateField', 'inicioPeriodoAjuste');
                    $('#cadastrarPeriodoForm').bootstrapValidator('revalidateField', 'fimPeriodoAjuste');
                }
            );
	</script>
</section>

</html>