<!DOCTYPE html>
<html lang="ptBR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="base/base"
	th:with="ofertaCursoActive='active'">

<head>
<title>Ofertas | Alocação Professores</title>

<link th:href="@{/plugins/sweetalert/sweetalert.css}" rel="stylesheet"
	type="text/css"></link>

<link th:href="@{/css/alocacao_professores.css}" rel="stylesheet"
	type="text/css"></link>
	
<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"></meta>

</head>
             
<section layout:fragment="conteudo">
	
	<div class="row">
		<div class="col-12">
			<div class="card" id="tabOfertas">
				<div class="card-body">
					<div class="row">
						<div class="col-6">
							<h3 class="card-title" th:text="'Ofertas de ' + ${periodo.ano} + . + ${periodo.semestre.numero}"></h3>
						</div>
						<div class="col-6">
							<a th:if="${periodo.isCoordenacao() or periodo.isAjuste()}"
								sec:authorize="hasAnyAuthority('COORDENACAO')" th:href="@{/ofertas/cadastrar}" 
								class="btn btn-success pull-right m-l-10 hidden-xs hidden-sm waves-effect waves-light">
								<i class="fa fa-plus" aria-hidden="true"></i> Nova Oferta
							</a> 
							<a th:if="${periodo.isDirecao() or periodo.isAjuste()}"
								sec:authorize="hasAnyAuthority('DIRECAO')" th:href="@{/ofertas/cadastrar}"
								class="btn btn-success pull-right m-l-10 hidden-xs hidden-sm waves-effect waves-light">
								<i class="fa fa-plus" aria-hidden="true"></i> Nova Oferta
							</a> 
							<a th:if="${periodo.isCoordenacao() or periodo.isAjuste()}"
								sec:authorize="hasAnyAuthority('COORDENACAO')" th:href="@{/ofertas/importar/}"
								class="btn btn-info pull-right m-l-10 hidden-xs hidden-sm waves-effect waves-light">
								<i class="fa fa-history" aria-hidden="true"></i> Importar Oferta
							</a>	
						</div>
						<div class="col-3">
							<select id="visulizar-outras-ofertas" class="form-control">
								<option sec:authorize="hasAnyAuthority('COORDENACAO')"
									th:each="curso : ${cursos}" th:text="${curso.nome}"
									th:value="${curso.id}"
									th:selected="${curso.id == cursoAtual.id}">
								</option>
								<option sec:authorize="hasAnyAuthority('DIRECAO')"
									th:each="curso : ${cursos}" th:text="${curso.nome}"
									th:value="${curso.id}"
									th:selected="${curso.id == cursoAtual.id}">
								</option>
							</select>	
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<ul class="nav nav-tabs customtab" role="tablist">
								<li role="presentation" class="nav-item m-l-10 m-r-10" th:each="turma : ${turmas}">
									<a class="nav-link" th:href="'#nav-'+${cursoAtual.sigla} + '-' + ${turma.semestre.numero}"
										th:attr="aria-controls='nav-'+${cursoAtual.sigla} + '-' + ${turma.semestre.numero}"
										role="tab" data-toggle="tab"> 
										<span th:text="${cursoAtual.sigla} + '-' + ${turma.semestre.numero}"></span>
										<span class="label label-success m-l-10" th:text="${ofertas.get(turma.semestre).size() +
										compartilhamentos.get(turma.semestre).size()}"></span>
									</a>
								</li>
							</ul>
							
							<!-- Tab Content -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane"
									th:each="turma : ${turmas}"
									th:id="'nav-'+${cursoAtual.sigla} + '-' + ${turma.semestre.numero}">
									<div th:if="${ofertas.get(turma.semestre).isEmpty() and compartilhamentos.get(turma.semestre).isEmpty()}"
										class="m-t-20 m-l-30">
										<div class="alert alert-warning">Não existem ofertas ou compartilhamentos para esse semestre</div>
									</div>
									<table th:if="${not {ofertas.get(turma.semestre).isEmpty()
										and compartilhamentos.get(turma.semestre).isEmpty()}}"
										class="table table-ofertas table-striped">
										<thead>
											<tr>
												<th>Disciplina</th>
												<th>Vagas</th>
												<th>Turno</th>
												<th>Professores Sugeridos</th>
												<th></th>
											</tr>
										</thead>

										<tbody>
											<tr th:each="oferta : ${ofertas.get(turma.semestre)}">
												<td>
													<span th:text="${oferta.disciplina.nome}"></span>
													<span th:if="${not oferta.compartilhamentos.isEmpty()}"
														class="label label-info m-l-5">Compartilhada</span>
												</td>
												<td th:text="${oferta.vagas}"></td>
												<td th:text="${oferta.turno.descricao}"></td>
												<td>
													<span th:each="professor : ${oferta.professores}" class="label label-info" th:text="${professor.apelido}"></span>
												</td>
												<td class="nowrap text-right">
													<a th:href="@{/ofertas/{id}/visualizar-oferta/(id=${oferta.id})}" data-toggle="tooltip"
														data-placement="top" data-original-title="Detalhes" title=""
														class="btn btn-outline-info btn-circle waves-effect waves-light">
														<i class="fa fa-info"></i>
													</a>
													<div th:if="${periodo.isDirecao() or periodo.isAjuste()}"
														sec:authorize="hasAnyAuthority('DIRECAO')" class="inline">
														
														<a th:href="@{/ofertas/{id}/editar(id=${oferta.id})}" data-toggle="tooltip"
															data-placement="top" data-original-title="Editar" title=""
															class="btn btn-outline-secondary btn-circle waves-effect waves-light">
															<i class="fa fa-pencil"></i>
														</a>
														<a th:href="@{/ofertas/{idOferta}/solicitar-compartilhamento(idOferta=${oferta.id})}" 
															data-toggle="tooltip" data-placement="top" data-original-title="Solicitar compartilhamento" title=""
															class="btn btn-outline-secondary btn-circle waves-effect waves-light">
															<i class="fa fa-share-alt"></i>
														</a>
														<a th:href="@{/ofertas/{id}/excluir(id=${oferta.id})}"
															class="btn btn-outline-danger btn-circle waves-effect waves-light sa-warning sa-btn-excluir confirmacao"
															data-toggle="modal" title="Excluir" data-target="#responsive-modal">
															<i class="fa fa-trash"></i>
														</a>
													</div>
													<div th:if="${periodo.isCoordenacao() or periodo.isAjuste()}"
														sec:authorize="hasAnyAuthority('COORDENACAO')" class="inline">
														<a th:if="${cursoAtual.coordenador.id == #authentication.principal.id
															or cursoAtual.viceCoordenador.id == #authentication.principal.id}"
															th:href="@{/ofertas/{id}/editar(id=${oferta.id})}" data-toggle="tooltip"
															data-placement="top" data-original-title="Editar" title=""
															class="btn btn-outline-secondary btn-circle waves-effect waves-light">
															<i class="fa fa-pencil"></i>
														</a>
														<a th:href="@{/ofertas/{idOferta}/solicitar-compartilhamento(idOferta=${oferta.id})}" 
															data-toggle="tooltip" data-placement="top" data-original-title="Solicitar compartilhamento" title=""
															class="btn btn-outline-secondary btn-circle waves-effect waves-light">
															<i class="fa fa-share-alt"></i>
														</a>
														<a th:if="${cursoAtual.coordenador.id == #authentication.principal.id
															or cursoAtual.viceCoordenador.id == #authentication.principal.id}"
															th:href="@{/ofertas/{id}/excluir(id=${oferta.id})}" 
															class="btn btn-outline-danger btn-circle waves-effect waves-light sa-warning sa-btn-excluir confirmacao"
															data-toggle="modal" title="Excluir" data-target="#responsive-modal">
															<i class="fa fa-trash"></i>
														</a>
													</div>
												</td>
											</tr>
											<tr th:each="compartilhamento : ${compartilhamentos.get(turma.semestre)}">
												<td>
													<span th:text="${compartilhamento.oferta.disciplina.nome}"></span>
													<span th:text="${compartilhamento.oferta.turma.curso.sigla} + '-' +
														${compartilhamento.oferta.turma.semestre.numero}"
														class="label label-inverse m-l-5">
													</span>
												</td>	
												<td th:text="${compartilhamento.vagas}"></td>
												<td th:text="${compartilhamento.oferta.turno.descricao}"></td>
												<td>
													<span class="label label-info" th:each="professor : ${compartilhamento.oferta.professores}" th:text="${professor.apelido}"></span>
												</td>
												<td>
													<a th:href="@{/ofertas/{id}/visualizar-oferta/(id=${compartilhamento.oferta.id})}"
														data-toggle="tooltip" data-placement="top" data-original-title="Detalhes" title=""
														class="btn btn-outline-info btn-circle waves-effect waves-light">
														<i class="fa fa-info"></i>
													</a>
													<div th:if="${periodo.isDirecao() or periodo.isAjuste()}"
														sec:authorize="hasAnyAuthority('DIRECAO')" class="inline">
														
														<a th:href="@{/ofertas/__${compartilhamento.id}__/editar-compartilhamento}" data-toggle="tooltip"
															data-placement="top" data-original-title="Editar" title=""
															class="btn btn-outline-secondary btn-circle waves-effect waves-light">
															<i class="fa fa-pencil"></i>
														</a> 
														<a th:href="@{/compartilhamentos/{id}/excluir(id=${compartilhamento.id})}" 
															class="btn btn-outline-danger btn-circle waves-effect waves-light sa-warning sa-btn-excluir confirmacao"
															data-toggle="modal" title="Excluir" data-target="#responsive-modal">
															<i class="fa fa-trash"></i>
														</a> 
													</div>
													<div th:if="${periodo.isCoordenacao() or periodo.isAjuste()}" class="inline">
														<a th:if="${compartilhamento.turma.curso.coordenador.id == #authentication.principal.id	
															or compartilhamento.turma.curso.viceCoordenador.id == #authentication.principal.id}"
															th:href="@{/ofertas/__${compartilhamento.id}__/editar-compartilhamento}" data-toggle="tooltip"
															data-placement="top" data-original-title="Editar" title=""
															class="btn btn-outline-secondary btn-circle waves-effect waves-light">
															<i class="fa fa-pencil"></i>
														</a> 
														<a th:if="${compartilhamento.turma.curso.coordenador.id == #authentication.principal.id	
															or compartilhamento.turma.curso.viceCoordenador.id == #authentication.principal.id}"
															th:href="@{/compartilhamentos/{id}/excluir(id=${compartilhamento.id})}"
															class="btn btn-outline-danger btn-circle waves-effect waves-light sa-warning sa-btn-excluir confirmacao"
															data-toggle="modal" title="Excluir" data-target="#responsive-modal">
															<i class="fa fa-trash"></i>
														</a>
													</div>
													
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="modal-importar-ofertas">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content modal-resultado-ofertas">
				<div class="modal-header modal-border">
					<h5 class="modal-title">Importação de Ofertas</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body modal-border">
					<div class="row">
						<div class="col-md-6">
							<label>Selecione o semestre</label> <select id="periodo"
								class="form-control">
								<option th:value="0">Selecione o semestre..</option>
								<option th:each="p : ${periodos}"
									th:text="${p.semestre.descricao} +' semestre de ' + ${p.ano}"
									th:value="${p.id}"></option>
							</select>
						</div>
					</div>
					<br />
					<div class="row col-md-6">
						<div class="table-responsive">
							<table class="table" id="resultado-ofertas">
								<tr>
									<th>Nome</th>
								</tr>
								<tr>
									<td>Caio</td>
								</tr>
							</table>
						</div>

					</div>
					<!-- 					<div class="row col-md-6" id="resultado-ofertas-2"></div> -->
					<!-- 					<div class="row col-md-12" id="sem-resultado-ofertas"></div> -->

					<br />
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-info pull-right" id="btn-exibir-ofertas">Exibir
								ofertas</button>
						</div>
					</div>



				</div>
				<div class="modal-footer">
					<button type="button"
						class="btn btn-inverse waves-effect waves-light"
						data-dismiss="modal">Fechar</button>
					<button type="button" class="btn btn-success"
						id="btn-importar-ofertas">Importar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-substituir-ofertas">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content modal-resultado-ofertas">
				<div class="modal-header modal-border">
					<strong class="modal-title">Substituição de Ofertas</strong>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body modal-border">
					<div class="row">
						<div class="col-md-12 msg-substituicao">
							<p>As ofertas abaixo já estão disponibilizadas para o período
								atual, selecione quais ofertas gostaria de realizar uma
								substituição.</p>
						</div>
						<div class="col-md-12 alert alert-danger">
							<strong>Atenção!</strong> Ao confirmar a substituição da oferta,
							todos os compartilhamentos serão deletados.
						</div>
					</div>
					<br />
					<div class="row">
						<div class="row col-md-6" id="resultado-substituicao-ofertas-1">
						</div>
						<div class="row col-md-6" id="resultado-substituicao-ofertas-2">
						</div>
					</div>

					<br />
				</div>
				<div class="modal-footer">
					<button type="button"
						class="btn btn-inverse waves-effect waves-light"
						data-dismiss="modal" id="btn-fechar-substituicao">Fechar</button>
					<button type="button" class="btn btn-success"
						id="btn-substituir-ofertas">Substituir</button>
				</div>
			</div>
		</div>
	</div>

</section>

<section layout:fragment="js">
	<script th:src="@{/js/oferta/listar-oferta.js}"></script>
</section>

</html>